<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">
    <Properties>
        <Property name="LOG_PATTERN">
            %d{yyyy-MM-dd HH:mm:ss.SSS} %5p ${hostName} --- [%15.15t] %-40.40c{1.} : %m%n%ex
        </Property>
    </Properties>

    <Appenders>
        <Console name="ConsoleAppender" target="SYSTEM_OUT" follow="true">
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </Console>

        <!-- Rolling File Appender -->
        <RollingRandomAccessFile name="RollingRandomAccessFile" fileName="/home/jereelton/logs/SERVICE-FOUR.log"
                     filePattern="/home/jereelton/logs/SERVICE-FOUR-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout>
                <Pattern>${LOG_PATTERN}</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" />
                <SizeBasedTriggeringPolicy size="10MB" />
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingRandomAccessFile>

    </Appenders>

    <Loggers>     
        <AsyncLogger name="com.huntercodexs.zipkintracingdemo.serviceone" level="debug" additivity="false">
			<AppenderRef ref="ConsoleAppender" />                     
            <AppenderRef ref="RollingRandomAccessFile" />
        </AsyncLogger>
        
        <AsyncRoot level="info">
            <AppenderRef ref="ConsoleAppender" />
        </AsyncRoot>
 	        
    </Loggers>
</Configuration>